# ignore all files starting with . or ~
.*
~*

# ignore node dependency directories (used by grunt)
node_modules/
vendor/

# -------------------------
# BEGIN Whitelisted Files
# -------------------------

# track these files, if they exist
!.gitignore
!.editorconfig
!.phpcs.xml.dist
!README.md
!CHANGELOG.md
!composer.json